{* This is the welcome page, you can delete it *}

{block content}

    <div class="container text-center">
        <hr>
        <h2>Vítejte na oficiálních stránkách OpavaTourist</h2>
        <hr>
        <p>Zde naleznete <a n:href="Homepage:howItWorks">informace o aplikaci</a>, <a n:href="Homepage:faq">často kladené otázky</a> a také odkaz ke <a n:href="Homepage:download">stažení aplikace</a>.</p>
    </div>

{/block}

