{* Latte template *}

{block content}

    <div class="container text-center">
        <h1><a href="https://www.netacad.com/courses/packet-tracer" target="_blank" class="btn btn-primary">DOWNLOAD</a></h1>
    </div>

{/block}