{* Latte template *}

{block content}
    <div class="container text-center">
        <h1>Hele, jdi na <a href="https://github.com/petrgru" target="_blank">https://github.com/petrgru</a>, tam najdeš flask-skeleton-novy, a to je to samé. 
            A když nevíš, co s tím, jdi na <a href="https://blog.iservery.cz" target="_blank">https://blog.iservery.cz</a>, tam najdeš návody na všechno.</h1>
    </div>


{/block}
