{block content}
<div class="container text-center">
    {import '../components/bootstrap-form.latte'}
    {form pointsForm}
        <div class="container">
            <div class="col-md-2">
                
            </div>
        </div>
    {/form}
</div>
{/block}
