{block content}
<div class="container text-center">
    <h1><hr>Přidat Bod<hr></h1>
    {import '../components/bootstrap-point-form.latte'}
    {include bootstrap-point-form pointForm}
</div>

{/block}
