{import '../components/bootstrap-in-form.latte'}
{block content}
<div class="container">
<h1 n:block=title class="text-center">Sign In</h1>
<hr>

{include bootstrap-in-form signInForm}

</div>



{* OR
{import '../components/form.latte'}
{include form signInForm}
*}