{import '../components/bootstrap-up-form.latte'}
{block content}
<div class="container">
<hr>
<h1 n:block=title class="text-center">Přidání Editorského Přístupu</h1>
<hr>

{include bootstrap-up-form signUpForm}

</div>