body, .wrapper {
    min-height: 100vh;
}

footer {
    height: 60px;
    line-height: 60px;
    margin-top: 5vh;
}

header {
    margin-bottom: 1.5vh;
}

label {
    font-weight: bold !important;
}

p {
    margin-top: 20px;
}

.head-logo {
    width: 2vw;
}

.sign {
    font-style: italic !important;
}

.login-button {
    border-color: white !important;
    margin-left: 5px;
}

.floated{
    margin-right: 20px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.collapse {
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menuhr {
    border: 1px solid white;
    width: 100%;
}

.dropdown-menu {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #006fe8 !important;
}

.right {
    float: right;
    margin-left: 10px;
    
}

.left {
    float: left;
}

.rightText {
    float: right;
    margin-left: 10px;
}

.card-header {
    height: 60px;
    line-height: 35px;
}

.collapse {
    margin-top: 0px !important;
}

.list-button {
    border-color: black !important;
}

.legend {
    width: 100px !important;
}

.bg-own {
    background-color: rgba(23, 162, 184, 0.5) !important;
}