body, .wrapper {
    min-height: 100vh;
}

footer {
    height: 5.5vh;
    line-height: 5.5vh;
    margin-top: 5vh;
}

header {
    margin-bottom: 1.5vh;
}

label {
    font-weight: bold !important;
}

p {
    margin-top: 20px;
}

@media screen and (max-width: 575px) {
    .head-logo {
        width: 50vw;
    }
}

@media screen and (min-width: 577px) {
    .head-logo {
        width: 20vw;
    }
}

.brandLogo {
    width: 50px;
}

.sign {
    font-style: italic !important;
}

.login-button {
    border-color: white !important;
    margin-left: 5px;
}

.floated{
    margin-right: 20px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.collapse {
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.errors {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.menuhr {
    border: 1px solid white;
    width: 100%;
}

.dropdown-menu {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #D13140 !important;
}

.right {
    float: right;
    margin-left: 10px;
    
}

.left {
    float: left;
}

.rightText {
    float: right;
    margin-left: 10px;
}

.card-header {
    height: 6.5vh;
    line-height: 3.5vh;
}

.collapse {
    margin-top: 0px !important;
}

.legend {
    width: 100px !important;
}

.bg-own {
    background-color: rgba(23, 162, 184, 0.5) !important;
}
#map {
    height: 100%;
  }
  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}